
.container {
    max-width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
}
.wrapper_1{
    box-sizing: border-box;
    width: 100%;
    border: solid crimson;
    margin-bottom: 20px;
}

.wrapper_contain {
    margin: 0 30px 0 30px;
}

p {
    color: grey;
}

.item {
    width: calc(100%/3);
    text-align: center;
    margin: 25px 0 15px 0;
    display: inline-block;
}

.img {
    width: 100%;
}

.img_text {
    padding: 5px 40px 0 40px;
}
.image_title {
    color: cornflowerblue;
    font-size: 12px;
    padding-bottom: 2px;
}

.wrapper_1{
    font-size: 0;
}

.item {
    font-size: 9px;
}

.wrapper2{
    box-sizing: border-box;
    width: 100%;
    border: solid crimson;
}


.wrapper2_item {
    width: 50%;
    display: inline-block;
}

.img_wrapper2 {
    width: 100%;
    padding-bottom: 0;
    text-align: center;
}

.img_wrapper2_text {
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
}
.wrapper2_text_title {
    font-size: 13px;
    padding-bottom: 9px;
}

.wrapper2_text {
    padding-bottom: 9px;


}
.wrapper2_text p {
    padding-bottom: 7px;
}


.wrapper2{
    font-size: 0;
}


.wrapper2_item {

    font-size: 9px;
}